* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    background-color: #777;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  100px repeat(4, 1fr);
    height: 100vh;
    gap: 8px;
}

.btn-set {
    outline: 2px solid #333;
    grid-row: 1;
}

button {
    background-color: #0099cc;
    font-size: 32px;
    color: #cc0000;
    cursor: pointer;
    grid-column: 2;
    grid-row: 3;

}

span {
    font-size: 32px;
}

.block {
    display: block;
    font-size: 18px;

}

.up-btn, .down-btn {
    font-size: 24px;
    color: #aaa;
    background-color: #333;
}

.reset-btn {
    background-color: #333;
    color: #aaa;
    font-size: 32px;
    border-radius: 50%;
    border: 2px solid #aaa;
    width: 60px;
    height: 60px;
    margin: 18px 16px 0;

}

