* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: silver;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    background-color: dodgerblue;
    color: #fff;

}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 2px solid #1564B2;
    text-transform: uppercase;
    list-style: none;
}
