@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #3298F2;
    padding: 10px;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}
.menu__logo img {
    cursor: pointer;
}
.menu__list {
    display: flex;
    column-gap: 35px;
    align-self: center;
}
.menu__list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #292929;
    text-transform: uppercase;
    text-decoration: none;
    max-width: 200px
}
.menu__list a:hover {
    color: #FF9638;
}
.menu__btn {
    align-self: center;
    width: 309px;
    position: relative;
}    
.menu__btn button {
    width: 100%;
    height: 60px;
    border: 2px solid #3298F2;
    border-radius: 6px;
    font-weight: bold;
    color: #3298F2;
    background-color: #fff;
}
#btn-inner {
    position: absolute;
    top: 15px;
    left: 37px;
    cursor: pointer;
}
.main {
        display: flex;
        justify-content: space-between;
}
.main__content {
    width: 45%;
    padding: 93px 101px 93px 245px;
}
.main__content h3 {
    font-weight: 900;
    font-size: 19px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FF9638;
}
.main__content h1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #292929;
}
.main__content h1 span {
    color: #3298F2;
}
.main__content-text {
    margin-top: 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #333;
}
.main__content-text p:last-child {
    font-weight: bold;
    margin-top: 40px;
}
.main__content-btn  button {
    width: 382px;
    height: 61px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    background: #FF9638;
    border-radius: 5px;
    border: none;
    margin-top: 120px;
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: tramsform 1s ease 0s;
    cursor: pointer;

}
.main__content-btn button:hover {
    transform: perspective(3000px) rotateY(5deg);
}

.main__aside {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.main__aside-wrapper, .main__aside-button, .main__aside-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__aside img {
    width: 100%;
    margin: 0px 32px 148px 0px;
}
.main__aside-wrapper {
    width: 152px;
    height: 152px;
    border: 1px solid #FF9638;
    border-radius: 50%;
    position: absolute;
    left: 785px;
    bottom: 11px;
}
.main__aside-button {
    border: 1px solid #FF9638;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    position: relative;
    cursor: pointer;
}
.main__aside-item {
    width: 82px;
    height: 82px;
    border: 3px solid #FF9638;
    border-radius: 50%;
    background-color: #C4C4C4;
}
.main__aside-item span {
    font-size: 26px;
}
.main__aside-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #669900;
    opacity: 0;
    animation: xxx 1s infinite;
}
@keyframes xxx {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
        transform: scale(1.2);
    }
}

